# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
.env
*.db

# Node
node_modules/
.next/
out/

# Flutter/Dart
.dart_tool/
build/
*.iml

# IDE
.idea/
.vscode/

# Uploads
uploads/

# Misc
.specstory/
*.log
